.container {
    background-color: azure;
    height: 70vh;
}

.title {
    color: aqua;
    font-family: Pussycat, Algerian, Broadway;
}

.projects {
    background-color: aquamarine;
    width: 300px;
    margin-top: 50px;
    border-radius: 15%;
    border: 5px solid antiquewhite;
}

div a {
    text-decoration: none;
    color: cornflowerblue;
    border-radius: 15%;
}