main {
    background-color: azure;
    height: 72vh;
}

.brandstatement {
    border: 5px solid antiquewhite;
    border-radius: 8%;
    width: 600px;
    background-color: aquamarine;
    color: cornflowerblue;
    font-family: Pussycat, Algerian, Broadway;
}



@media (max-width: 480px) {
    .brandstatement {
    width: 300px;
    }


}